.invalid-input {
    color:red;
}

.hide-me {
    display:none;
}
#pizza-options {
    float: left;
}
#pizza-price {
    float: right;
}
.jumbotron {
    background: url(../images/pizza.jpg) center;
    color: white;
    font-weight: bold;
}